{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}
  Ticket issued
{% endblock %}

{% block content %}
  <div class="d-flex align-items-center justify-content-center">
    <div class="col-md-2 border border-3 shadow p-3 mb-5 bg-body rounded p-4">
      <h1 class="h3 text-center mb-4">Your ticket:</h1>
      
      <div class="py-4 border-top border-bottom border-2">
        <h2 class="h1 text-center">{{ object.code }}</h2>
      </div>

      <div class="py-2 border-bottom border-2 text-center">
        <small class="fst-italic">
          {{ object.num_tickets_ahead }} client{{ num_clients_ahead|pluralize }} ahead
        </small>
      </div>

      <div class="my-4 text-center text-muted">
        <small>After <span id="counter">7</span> seconds, you will be redirected to the <a href="{{ link_to_screen }}">queue screen</a>.</small>
      </div>
    </div>
  </div>

  <script>
    setInterval(function() {
        var div = document.querySelector("#counter");
        var count = div.textContent * 1 - 1;
        div.textContent = count;
        if (count <= 0) {
            window.location.replace("{{link_to_screen}}");
        }
    }, 1000);
</script>
{% endblock %}
