{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}
  Print a ticket
{% endblock %}

{% block content %}
  <h1 class="my-4">Welcome dear client!</h1>

  <h3 class="my-3">Please select the purpose of new request:</h3>
  <form method="post" class="form">
    {% csrf_token %}
    {% for task in tasks %}
      <div class="my-2">
        <input type=submit value="{{ task.name }}" name="{{ code_prefix }}{{ task.letter_code }}" class="btn btn-outline-primary">
      </div>
    {% endfor %}
  </form>

  <h3 class="mt-5 mb-3">Or watch the queue:</h3>
  <a class="btn btn-outline-warning" href="#">Queue screen</a>

{% endblock %}
