{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}
  Queue sreen
{% endblock %}

{% block content %}
  <div class="row">
    <h1 class="my-4"> Last called tickets</h1>
    {% for status in object_list %}
      {% if forloop.first %}
        <div class="col-xl-1 border border-secondary border-3 shadow m-2 bg-body rounded p-2 text-center">
      {% else %}
        <div class="col-xl-1 border border-3 shadow m-2 bg-body rounded p-2 text-center">
      {% endif %}
        <h1 class="h3 mb-3 {% if status.ticket.code == request.GET.track_ticket %}text-danger{%endif%}">{{ status.ticket.code }}</h1>
          <small>please poceede to operator</small>
          <h5 class="h5 mt-3">{{ status.assigned_to.get_full_name }}</h5>
      </div>
    {% endfor %}

    <div class="col-xl-2 position-relative py-4">
      <div class="position-absolute bottom-0">
          <div class="position-relative d-inline-block mx-1 border border-3 shadow mb-2 bg-body rounded-circle p-2"></div>
          <div class="position-relative d-inline-block mx-1 border border-3 shadow mb-2 bg-body rounded-circle p-2"></div>
          <div class="position-relative d-inline-block mx-1 border border-3 shadow mb-2 bg-body rounded-circle p-2"></div>
      </div>
    </div>
  </div>

  {% if track_ticket %}
    <div class="text-muted my-4">
      <small>
        Your ticket is:
        <span class="fw-bold">{{ track_ticket.code }}</span>
        <span class="fst-italic">({{ track_ticket.num_tickets_ahead }} client{{ track_ticket.num_tickets_ahead|pluralize }} ahead)</span>
      </small>
    </div> 
    <!-- Say about F5 -->
  {% endif %}
{% endblock %}
