{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}
  Supervisor dashboard
{% endblock %}

{% block content %}
  <h1 class="my-4">Supervisor dashboard</h1>

  <!-- Current session -->
  <div class="my-4 p-3 border border-2 rounded-3 border-warning">
    {% if current_session %}
      <h4 class="d-inline me-2">
        Current <a class="link-dark" href="{% url 'session-list' %}">session</a>
      </h4>
      <span class="me-4 text-nowrap">{{ current_session.code}}</span>
      <span class="text-black-50">
        <span class="me-3 text-nowrap">Total tickets completed: {{ current_session.count_tickets_completed }}</span>
        <span class="text-nowrap">Tickets in queue/processing: {{ current_session.count_tickets_unprocessed }}</span>
      </span>
    {% else %}
      <h4 class="d-inline me-2 text-danger">
        No current <a class="link-danger" href="{% url 'session-list' %}">session</a>
      </h4>
      <form method="post" class="form mt-3 mb-0" action="{% url 'session-start' %}">
        {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary border-1">
              Start new session
            </button>
      </form>
    {% endif %}
  </div>


  <!-- Tasks -->
  <div class="my-4 p-3 border border-2 rounded-3 border-warning">
    <h4>
      <a class="link-dark" href="{% url 'task-list' %}">Tasks</a>
    </h4>

      <table class="table border-1 table-sm">
        <thead>
          <tr>
            <th>Code</th>
            <th>Currently serviced by</th>
            <th class="text-center">Tickets in queue/process.</th>
            <th class="text-center">Tickets completed</th>
          </tr>
        </thead>

        <tbody>
          {% for task in tasks %}
            <tr>
              <td class="fw-bold">{{ task.letter_code }}</td>

              <td>
                {% if task.prim_served_by or task.scnd_served_by %}
                  <ul class="list-unstyled mb-0">
                    {% for primary_serv_by in task.prim_served_by %}
                      <li class="text-primary">{{ primary_serv_by }} <span class="text-black-50">(prim.)</span></li>
                    {% endfor %}

                    {% for secondary_serv_by in task.scnd_served_by %}
                      <li class="text-success">{{ secondary_serv_by }} <span class="text-black-50">(scnd.)</span></li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <span class="text-danger">
                    = <span class="text-nowrap">No one</span> =
                  </span>
                {% endif %}
              </td>

              <td class="text-center">
                {% with task.count_tickets_unproc as num_tickets_unprocessed %}
                  {% if num_tickets_unprocessed %}
                    {% if not task.primary_served_by and not task.secondary_served_by %}
                      <span class="text-danger fw-bold">
                        = {{ num_tickets_unprocessed }} =
                      </span>
                    {% else %}
                      {{ num_tickets_unprocessed }}
                    {% endif %}
                  {% endif %}
                {% endwith %}
              </td>

              <td class="text-center">
                {% with task.count_tickets_compl as num_tickets_completed %}
                  {% if num_tickets_completed %}
                    {{ num_tickets_completed }}
                  {% endif %}
                {% endwith %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>


  <!-- Operators -->
  <div class="my-4 p-3 border border-2 rounded-3 border-warning">
    <h4>
      Active <a class="link-dark" href="{% url 'operator-list' %}">operators</a>
    </h4>
    
      <table class="table border-1 table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th class="text-center">Current ticket</th>
            <th class="text-center">Tasks in service</th>
            <th class="text-center">Tickets completed</th>
          </tr>
        </thead>

        <tbody>
          {% for operator in servicing_operators %}
            <tr>
              <td>{{ operator.get_full_name }}</td>

              <td class="text-center">
                {% if operator.curr_ticket_code %}
                  {{ operator.curr_ticket_code }}
                {% else %}
                  <span class="text-black-50">-</span>
                {% endif %}
              </td>

              <td class="text-center">
               <ul class="list-unstyled mb-0">
                  <li class="text-primary d-inline me-2">{{ operator.prim_served_tasks.0.letter_code }} <span class="text-black-50">(prim.)</span></li>
                  {% if operator.scnd_served_tasks %}
                    <li class="text-success d-inline">
                      {% for scnd_task in operator.scnd_served_tasks %}
                        {{ scnd_task.letter_code }}{% if not forloop.last %}, {% endif %}
                      {% endfor %}
                      <span class="text-black-50">(scnd.)</span>
                    </li>
                  {% endif %}
                </ul>
              </td>

              <td class="text-center">
                {% if operator.count_tickets_compl %}
                  {{ operator.count_tickets_compl }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>


  <!-- Last tickets -->
  <div class="my-4 p-3 border border-2 rounded-3 border-warning">
    <h4>
      Last issued <a class="link-dark" href="{% url 'ticket-list' %}">tickets</a>
    </h4>
    
    <ul class="list-unstyled mb-0 card-columns" style="column-count: 4">
      {% for ticket in last_tickets %}
        <li class="text-black-50">
          {{ forloop.counter }} - <a class="link-{{ ticket.last_status.0.colour }}" href="{% url 'ticket-detail' ticket.id %}">{{ ticket.code }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
