{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}
  Supervisor dashboard
{% endblock %}

{% block content %}
  <h1 class="my-4">Supervisor dashboard</h1>

  <!-- Current session -->
  <div class="my-4 border border-3">
    <h4 class="d-inline me-2">
      Current <a class="link-dark" href="{% url 'session-list' %}">session</a>
    </h4>
    {% if current_session %}
      <span class="ms-3">{{ current_session.code}}</span>
      <span class="ms-5 text-black-50">
        <span>Total tickets completed: {{ current_session.count_tickets_completed }}</span>
        <span class="ms-5">Tickets in queue/processing: {{ current_session.count_tickets_unprocessed }}</span>
      </span>
    {% else %}
      <span class="text-danger">= Not started =</span>
    {% endif %}
  </div>


  <!-- Tasks -->
  <div class="my-4 border border-3">
    <h4>
      <a class="link-dark" href="{% url 'task-list' %}">Tasks</a>
    </h4>
    {% if current_session %}
      <table class="table border-1 table-sm">
        <thead>
          <tr>
            <th>Code</th>
            <th>Currently serviced by</th>
            <th class="text-center">Tickets in queue/processing</th>
            <th class="text-center">Tickets completed</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
            <tr>
              <td class="fw-bold">{{ task.letter_code }}</td>

              <td>
                {% if task.primary_served_by or task.secondary_served_by %}
                  <ul class="list-unstyled mb-0">
                    {% for primary_serv_by in task.primary_served_by %}
                      <li class="text-primary">{{ primary_serv_by.get_full_name }} <span class="text-black-50">(prim.)</span></li>
                    {% endfor %}

                    {% for secondary_serv_by in task.secondary_served_by %}
                      <li class="text-success">{{ secondary_serv_by.get_full_name }} <span class="text-black-50">(scnd.)</span></li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <span class="text-danger">= No one =</span>
                {% endif %}
              </td>

              <td class="text-center">
                {% if task.count_tickets_unprocessed %}
                  {% if not task.primary_served_by and not task.secondary_served_by %}
                    <span class="text-danger fw-bold">
                      = {{ task.count_tickets_unprocessed }} =
                    </span>
                  {% else %}
                    {{ task.count_tickets_unprocessed }}
                  {% endif %}
                {% endif %}
              </td>

              <td class="text-center">
                {% if task.count_tickets_completed %}
                  {{ task.count_tickets_completed }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>


  <!-- Operators -->
  <div class="my-4 border border-3">
    <h4>
      Active <a class="link-dark" href="{% url 'operator-list' %}">operators</a>
    </h4>
    {% if current_session %}
      <table class="table border-1 table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th class="text-center">Current ticket</th>
            <th class="text-center">Tasks in service</th>
            <th class="text-center">Tickets completed</th>
          </tr>
        </thead>
        <tbody>
          {% for operator in servicing_operators %}
            <tr>
              <td>{{ operator.get_full_name }}</td>

              <td class="text-center">
                {% if operator.current_ticket %}
                  {{ operator.current_ticket.code }}
                {% endif %}
              </td>

              <td class="text-center">
               <ul class="list-unstyled mb-0">
                  <li class="text-primary d-inline me-2">{{ operator.primary_task.letter_code }} <span class="text-black-50">(prim.)</span></li>
                  {% if operator.secondary_tasks %}
                    <li class="text-secondary d-inline">
                      {% for scnd_task in operator.secondary_tasks %}
                        {{ scnd_task.letter_code }}{% if not forloop.last %}, {% endif %}
                      {% endfor %}
                      <span class="text-black-50">(scnd.)</span>
                    </li>
                  {% endif %}
                </ul>
              </td>

              <td class="text-center">
                {% if operator.count_tickets_completed %}
                  {{ operator.count_tickets_completed }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>


  <!-- Last tickets -->
  <div class="my-4 border border-3">
    <h4>
      Last 20 <a class="link-dark" href="{% url 'ticket-list' %}">tickets</a>
    </h4>
    {% if current_session %}
      <table class="table border-1 table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th class="text-center">Current ticket</th>
            <th class="text-center">Tasks in service</th>
            <th class="text-center">Tickets completed</th>
          </tr>
        </thead>
        <tbody>
          {% for operator in servicing_operators %}
            <tr>
              <td>{{ operator.get_full_name }}</td>

              <td class="text-center">
                {% if operator.current_ticket %}
                  {{ operator.current_ticket.code }}
                {% endif %}
              </td>

              <td class="text-center">
               <ul class="list-unstyled mb-0">
                  <li class="text-primary d-inline me-2">{{ operator.primary_task.letter_code }} <span class="text-black-50">(prim.)</span></li>
                  {% if operator.secondary_tasks %}
                    <li class="text-secondary d-inline">
                      {% for scnd_task in operator.secondary_tasks %}
                        {{ scnd_task.letter_code }}{% if not forloop.last %}, {% endif %}
                      {% endfor %}
                      <span class="text-black-50">(scnd.)</span>
                    </li>
                  {% endif %}
                </ul>
              </td>

              <td class="text-center">
                {% if operator.count_tickets_completed %}
                  {{ operator.count_tickets_completed }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>


  <a href="{% url 'operator-list' %}" class="btn btn-outline-primary">
    Manage operators
  </a>

  <a href="{% url 'task-list' %}" class="btn btn-outline-primary">
    Manage tasks
  </a>

  <a href="{% url 'session-list' %}" class="btn btn-outline-primary">
      Manage sessions
  </a>

{% endblock %}
