{% load django_bootstrap5 %}
{% bootstrap_css %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>
        {% block title %}{% endblock %}
    </title>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <span class="fs-4"><em>Queue Manager</em></span>
            </a>
            <div>
                <small><em>Helps serve customers in order of appearance.</em></small>
            </div>
          </div>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2">Home</a></li>
            <li><span class="nav-link px-2 link-secondary">>></span></li>
            <li><a href="#" class="nav-link px-2 link-secondary">Operator - John Green</a></li>
          </ul>
    
          <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-secondary me-2">Logout</button>
          </div>
        </header>
    </div>

    <main role="main" class="mb-auto">
        <div class="container wrapper flex-grow-1 mt-3">
          {% bootstrap_messages %}
          
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <footer>
        <div class="container my-3 pt-3 border-top">
          <span class="text-body-tertiary">(c) Andrey Volkovitskiy</span>
        </div>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>