{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  Sign In
{% endblock %}


{% block content %}
<h1 class="my-4">Sign In</h1>
  <form method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">
          Sign In
        </button>
  </form>

  <small>For demo purpuse you can login as a <a name="supervisor_cred" href="#">supervisor</a></small>

  <script>
    document.getElementsByName('supervisor_cred')[0].onclick = function(){ 
    
    document.getElementById('id_username').value = "default_supervisor";
    document.getElementById('id_password').value = "default_pass";
    };
    </script>
{% endblock %}