{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}
  {{ item_name|capfirst }}s
{% endblock %}

{% block content %}
  <h1 class="my-4">{{ item_name|capfirst }}s</h1>
  <a class="btn btn-outline-primary me-2" href="{% url 'task-create' %}">Create new {{ item_name }}</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Letter code</th>
        <th>Name</th>
        <th>Description</th>
        <th>Created at</th>
        <th>Can be serviced by</th>
      </tr>
    </thead>

    <tbody>
      {% for object in object_list %}
        <tr>
          <td><a href="{% url item_name|add:'-update' object.id %}">{{ object.letter_code }}</a></td>
          <td>{{ object.name }}</td>
          <td>{{ object.description }}</td>
          <td>{{ object.created_at }}</td>
          <td>
            {% if object.can_be_served_by.all %}
              <ul class="list-unstyled">
                {% for service_operator in object.can_be_served_by.all %}
                  <li>{{ service_operator.get_full_name }}</li>
                {% endfor %}
              </ul>
            {% else %}
              <span class="text-danger">= No one =</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
