{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}
  {{ item_name|capfirst }}s
{% endblock %}

{% block content %}
  <h1 class="my-4">{{ item_name|capfirst }}s</h1>
  <a class="btn btn-outline-primary me-2" href="{% url item_name|add:'-create' %}">Create new {{ item_name }}</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Full name</th>
        <th>Username</th>
        <th>Can serve tasks</th>
        <th>Tasks in service</th>
      </tr>
    </thead>

    <tbody>
      {% for object in object_list %}
        <tr>
          <td><a href="{% url item_name|add:'-update' object.id %}">{{ object.get_full_name }}</a></td>
          
          <td>{{ object.username }}</td>
          
          <td>
            {% if object.task_set.all %}
              <ul class="list-unstyled">
                {% for task in object.task_set.all|dictsort:"letter_code" %}
                  <li>{{ task }}</li>
                {% endfor %}
              </ul>
            {% else %}
              <span class="text-danger">= No one =</span>
            {% endif %}
          </td>

          <td>
            {% if object.primary_task %}
              <ul class="list-unstyled mb-0">
                <li class="text-primary me-2">{{ object.primary_task.letter_code }} <span class="text-black-50">(prim.)</span></li>
                {% if object.secondary_tasks %}
                  <li class="text-secondary">
                    {% for scnd_task in object.secondary_tasks %}
                      {{ scnd_task.letter_code }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    <span class="text-black-50">(scnd.)</span>
                  </li>
                {% endif %}
              </ul>
            {% else %}
              <span class="text-black-50">-</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
