{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}
  Operator dashboard
{% endblock %}

{% block content %}
  <h1 class="my-4">Operator dashboard</h1>

  <!-- Serving -->
  <div class="my-4 p-3 border border-2 rounded-3 border-success">
    {% if is_servicing %}
      <h4 class="d-inline me-3">Currently serviced tasks</h4>

      <span class="mb-2 me-3 my-2 text-black-50">
        <span class="text-nowrap">Primary task "{{ primary_task.letter_code }}"</span>
        {% if secondary_tasks %}
          <span class="text-nowrap">
            and secondary task(s): "{% for sec_task in secondary_tasks %}{{ sec_task.letter_code }}{% if not forloop.last %}, {% endif %}{% endfor %}"
          </span>
        {% endif %}
      </span>

      <form method="post" class="d-inline-block mt-1 mb-0" action="{% url 'service-stop' object.id %}">
        {% csrf_token %}
        <input class="btn btn-outline-secondary" type="submit" value="Stop service">
      </form>
    
    {% else %}
      <h4 class="d-inline-block text-danger me-3">No currently serviced tasks</h4>
      <a class="d-inline-block btn btn-primary" href="{% url 'service-start' object.id %}">Start service</a>
    {% endif %}
  </div>

  <!-- Current ticket -->
  <div class="my-4 p-3 border border-2 rounded-3 border-success">
    {% with current_ticket=object.current_ticket %}
      <h4 class="d-lg-inline-block me-5">Current ticket:
        {% if current_ticket %}
          "<a href="{% url 'ticket-detail' current_ticket.id %}?operator={{object.id}}">{{ current_ticket.code }}</a>"
        {% else %}
          <span>----------</span>
        {% endif %}
        </span>
      </h4>

      {% if current_ticket %}
        <div class="d-inline-block">
          <form method="post" class="d-md-inline-block mb-0" action="{% url 'ticket-mark-completed' current_ticket.id %}">
            {% csrf_token %}
            <input class="btn btn-success me-5" type="submit" value="Mark completed">
          </form>

          <form method="post" class="d-md-inline-block my-1" action="{% url 'ticket-mark-missed' current_ticket.id %}">
            {% csrf_token %}
            <input class="btn btn-outline-warning me-5" type="submit" value="Mark missed">
          </form>
          
          <a class="d-md-inline-block btn btn-outline-danger me-5" href="{% url 'ticket-redirect' current_ticket.id %}?operator={{object.id}}">
            Redirect
          </a>
        </div>
      {% endif %}
    {% endwith %}
  </div>


  <!-- Queues -->
  <div class="my-4 p-3 border border-2 rounded-3 border-success">
    <h4>Queues</h4>
    <div class="row row-cols-1 row-cols-md-3 text-center">
      
      <div class="col">
        <h6>Personal tickets:</h6>
        <ul class="list-unstyled text-danger">
          {% for ticket in personal_tickets %}
            {% if personal_tickets and personal_tickets|length == queue_len_limit and forloop.last %}
              <li>...</li>
            {% else %}
              <li>{{ ticket.code }}</li>
            {% endif %}
          {% endfor %}
          
          {% if not personal_tickets %}
            <li class="text-black-50">-</li>
          {% endif %}
        </ul>
      </div>
      
      <div class="col">
        <h6>Primary task tickets:</h6>
        <ul class="list-unstyled text-primary">
          {% for ticket in primary_tickets %}
            {% if primary_tickets and primary_tickets|length == queue_len_limit and forloop.last %}
              <li>...</li>
            {% else %}
              <li>{{ ticket.code }}</li>
            {% endif %}
          {% endfor %}

          {% if not primary_tickets %}
            <li class="text-black-50">-</li>
          {% endif %}
        </ul>
      </div>

      <div class="col">
        <h6>Secondary tasks tickets:</h6>
        <ul class="list-unstyled text-success">
          {% for ticket in secondary_tickets %}
            {% if secondary_tickets and secondary_tickets|length == queue_len_limit and forloop.last  %}
              <li>...</li>
            {% else %}
              <li>{{ ticket.code }}</li>
            {% endif %}
          {% endfor %}

          {% if not secondary_tickets %}
            <li class="text-black-50">-</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>


  <!-- Processed tickets -->
  <div class="my-4 p-3 border border-2 rounded-3 border-success">
    <h4>Processed tickets</h4>
    <div class="row row-cols-1 row-cols-md-3 text-center">
      
      <div class="col">
        <h6 class="text-success">Completed:</h6>
        <ul class="list-unstyled text-success">
          {% for status in completed_statuses %}
            {% if completed_statuses and completed_statuses|length == processed_statuses_limit and forloop.last %}
              <li>...</li>
            {% else %}
              <li>
                <a href="{% url 'ticket-detail' status.ticket.id %}?operator={{object.id}}" class="link-success">
                  {{ status.ticket.code }}
                </a>
              </li>
            {% endif %}
          {% endfor %}

          {% if not completed_statuses %}
            <li class="text-black-50">-</li>
          {% endif %}
        </ul>
      </div>
      
      <div class="col">
        <h6 class="text-warning">Missed:</h6>
        <ul class="list-unstyled text-warning">
          {% for status in missed_statuses %}
            {% if missed_statuses and missed_statuses|length == processed_statuses_limit and forloop.last %}
              <li>...</li>
            {% else %}
            <li>
              <a href="{% url 'ticket-detail' status.ticket.id %}?operator={{object.id}}" class="link-warning">
                {{ status.ticket.code }}
              </a>
            </li>
            {% endif %}
          {% endfor %}

          {% if not missed_statuses %}
            <li class="text-black-50">-</li>
          {% endif %}
        </ul>
      </div>

      <div class="col">
        <h6 class="text-danger">Redirected:</h6>
        <ul class="list-unstyled text-danger">
          {% for status in redirected_statuses %}
            {% if redirected_statuses and redirected_statuses|length == processed_statuses_limit and forloop.last %}
              <li>...</li>
            {% else %}
            <li>
              <a href="{% url 'ticket-detail' status.ticket.id %}?operator={{object.id}}" class="link-danger">
                {{ status.ticket.code }}
              </a>
            </li>
            {% endif %}
          {% endfor %}

          {% if not redirected_statuses %}
            <li class="text-black-50">-</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
