{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}
  Operator dashboard
{% endblock %}

{% block content %}
  <h1 class="my-4">Operator dashboard</h1>

  <!-- Serving -->
  <div class="text-muted">
    {% if is_servicing %}
      <span>Serving primary task "{{ primary_task.letter_code }}"</span>
      {% if secondary_tasks %}
        <span> and secondary task(s):
        {% for sec_task in secondary_tasks %}
          {{ sec_task.letter_code }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        </span>
      {% endif %}

      <form method="post" class="d-inline" action="{% url 'service-stop' object.id %}">
        {% csrf_token %}
        <input class="btn btn-outline-secondary mx-3" type="submit" value="Stop service">
      </form>
    {% else %}
      <a class="btn btn-primary" href="{% url 'service-start' object.id %}">Start service</a>
    {% endif %}
  </div>

  <!-- Current ticket -->
  <div class="my-4">
    <p>is_serving: {{ object.is_servicing }}</p>
    <p>is_free: {{ object.is_free }}</p>
    <p>last_assigned_ticket: {{ object.last_assigned_ticket.code }}</p>
    <p>current_ticket: {{ object.current_ticket.code }}</p>
    {% if object.current_ticket %}

      <form method="post" class="d-inline" action="{% url 'ticket-mark-completed' object.current_ticket.id %}">
        {% csrf_token %}
        <input class="btn btn-success mx-3" type="submit" value="Mark completed">
      </form>

      <form method="post" class="d-inline" action="{% url 'ticket-mark-missed' object.current_ticket.id %}">
        {% csrf_token %}
        <input class="btn btn-outline-secondary mx-3" type="submit" value="Mark missed">
      </form>
      
      <a class="btn btn-outline-secondary mx-3" href="{% url 'ticket-redirect' object.current_ticket.id %}?redirected_by={{object.id}}">Redirect</a>
      
    {% endif %}
  </div>
{% endblock %}
