{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}
  Operator dashboard
{% endblock %}

{% block content %}
  <h1 class="my-4">Operator dashboard</h1>

  <!-- Serving -->
  <div class="text-muted border border-3">
    <h4>Currently serviced tasks</h4>
    {% if is_servicing %}
      <span>Primary task "{{ primary_task.letter_code }}"</span>
      {% if secondary_tasks %}
        <span> and secondary task(s):
        {% for sec_task in secondary_tasks %}
          {{ sec_task.letter_code }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        </span>
      {% endif %}

      <form method="post" class="d-inline" action="{% url 'service-stop' object.id %}">
        {% csrf_token %}
        <input class="btn btn-outline-secondary mx-3" type="submit" value="Stop service">
      </form>
    {% else %}
      <a class="btn btn-primary" href="{% url 'service-start' object.id %}">Start service</a>
    {% endif %}
  </div>

  <!-- Current ticket -->
  <div class="my-4 border border-3">
    <h4>Current ticket</h4>
    <p>is_serving: {{ object.is_servicing }}</p>
    <p>is_free: {{ object.is_free }}</p>
    <p>last_assigned_ticket: {{ object.last_assigned_ticket.code }}</p>
    <p>current_ticket: {{ object.current_ticket.code }}</p>

    {% if object.current_ticket %}
      <form method="post" class="d-inline" action="{% url 'ticket-mark-completed' object.current_ticket.id %}">
        {% csrf_token %}
        <input class="btn btn-success mx-3" type="submit" value="Mark completed">
      </form>

      <form method="post" class="d-inline" action="{% url 'ticket-mark-missed' object.current_ticket.id %}">
        {% csrf_token %}
        <input class="btn btn-outline-secondary mx-3" type="submit" value="Mark missed">
      </form>
      
      <a class="btn btn-outline-secondary mx-3" href="{% url 'ticket-redirect' object.current_ticket.id %}?redirected_by={{object.id}}">Redirect</a>
    {% endif %}
  </div>


  <div class="my-4 border border-3">
    <h4>Queues</h4>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      
      <div class="col">
        <h6>Personal tickets:</h6>
        <ul class="list-unstyled text-warning">
          {% for ticket in personal_tickets %}
            {% if forloop.last and personal_tickets|length == queue_len_limit %}
              <li>...</li>
            {% else %}
              <li>{{ ticket.code }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      
      <div class="col">
        <h6>Primary task:</h6>
        <ul class="list-unstyled text-primary">
          {% for ticket in primary_tickets %}
            {% if forloop.last and primary_tickets|length == queue_len_limit %}
              <li>...</li>
            {% else %}
              <li>{{ ticket.code }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="col">
        <h6>Secondary tasks:</h6>
        <ul class="list-unstyled text-success">
          {% for ticket in secondary_tickets %}
            {% if forloop.last and secondary_tickets|length == queue_len_limit %}
              <li>...</li>
            {% else %}
              <li>{{ ticket.code }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
